<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Noughts and Crosses/src/NoughtsandCrosses.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="NoughtsandCrosses"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Noughts and Crosses"/>
</launchConfiguration>
